<div class="container">
    <header class="pageHeader">
        <h3><i class="fa fa-info-circle fa-lg page-caption" aria-hidden="true"></i> {{'pageHeader.About' | translate}}</h3>
    </header>

    <div [@fadeInOut]>
        <div class="row">
            <div class="col-sm-5">
                <h2>Adonis Villanueva a Full Stack Developer (Hire Me)<sup>&reg;</sup></h2>
                <p>Get help with your projects, contracts at incredibly low prices.</p>
                <p><span title="I'm based in Accra, Ghana" class="fa fa-map-marker fa-fw"></span> United States</p>
                <p><span title="Send me a WhatsApp" class="fa fa-whatsapp fa-fw"></span> +916 509-0836</p>
                <p><span title="Contact me on Skype" class="fa fa-skype fa-fw"></span> adonis_abril2</p>
                <p><span title="LinkedIn" class="fa fa-facebook-official fa-fw"></span> <a class="black-anchor" target="_blank" href="https://www.linkedin.com/in/adonis-villanueva/">Adonis Villanueva</a></p>
                <p><span title="Drop me a mail" class="fa fa-envelope fa-fw"></span> <a class="black-anchor" href="mailto:thedynamiclight@gmail.com">thedynamiclight@gmail.com</a></p>
                <p><span title="My website" class="fa fa-globe fa-fw"></span> <a class="black-anchor" target="_blank" href="http://www.alwayswanderlust.com">www.alwayswanderlust.com</a></p>
                <br />
            </div>
        </div>
        <div class="row bg-grey">
            <div class="col-sm-4">
                <span class="fa fa-globe logo"></span>
            </div>
            <div class="col-sm-8">
                <h2>My Values</h2>
                <h4><strong>MISSION:</strong> Quality, Affordable and Easy-to-use software for all</h4>
                <p>
                    <strong>VISION:</strong> It is our desire to encourage the use of technology in everyday life. Time is the most valuable resource anyone has,
                    that is why we at Eben Software Solutions<sup>&reg;</sup> wish to provide quality, affordable and easy-to-use software solutions to boost your productivity. Get more done in less time!
                    <br />
                    <br />
                    Productivity, Accessibility and Affordability is at the core of our values
                </p>
            </div>
        </div>
    </div>
</div>
